h1 {
    color: #4aaaa5;
}


#head-name {
    color: #ffffff;
    background-color: #4aaaa5;
    border-color: #4aaaa5;
    border-radius: 10px;
    padding: 5px;
    width: 250px;
}

a{
    text-decoration: none;
   
}

.links {
    text-align: right;
    color: green;
    text-decoration: none;
    word-spacing: 30px;
}


p {

}